{% block movie %}
    <!-- Movie Listings from movie_list -->
    <!-- Each movie is a card That shows poster (movie[3], title (movie[0]), and year (movie[1]) -->
    <!-- Each row has 5 cards -->
    <div class="container pt-3 flex">
        {% for chunk in movie_list|batch(3) %}
            <div class="row pt-3">
                {% for movie in chunk %}
                    <div class="col-md-4">
                        <div class="card">
                            <img class="card-img-top" src="{{ movie[4] }}" alt="{{ movie[0] }} Poster"
                                 style="width: 100%;">
                            <div class="card-body">
                                <h5 class="card-title"><a href="{{ url_for('movie_page', movie_name=movie[0]) }}"
                                                          class="stretched-link"></a>{{ movie[0] }}</h5>
                                <!-- Synopsis in short (movie[2]) -->
                                <p class="card-text">{{ movie[2] }}</p>
                                <p class="card-text"><small class="text-muted">{{ movie[1] }}</small></p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

    <div class="container d-flex justify-content-center pt-1">
        <!-- Pages left nav -->
        <!-- Need to get current page from flask -->
        <ul class="pagination">
            <!-- If page is not 1 -->
            {% if page != 1 %}
                <li class="page-item"><a href="{{ url_for('home_page', page=1) }}" class="page-link">First</a></li>
            {% endif %}

            <!-- If current page is not 1, show previous page -->
            {% if page != 1 and page-1 > 0 %}
                <li class="page-item"><a href="{{ url_for('home_page', page=page-1) }}" class="page-link">Previous</a>
                </li>
            {% endif %}

            <!-- Show only the +/- 3 pages from current page, show -3 pages if pages left is less than 3 -->
            {% set start = page - 3 if page - 3 > 0 else 1 %}
            {% set end = page + 3 if page + 3 <= total_pages else total_pages %}

            {% if pages_left < 3 %}
                {% set start = page - pages_left if page - pages_left > 0 else 1 %}
                {% set end = page + pages_left if page + pages_left <= total_pages else total_pages %}
            {% endif %}

            <!-- Loop through the pages and show the page number -->
            {% for p in range(start|float|round|int, end|float|round|int + 1) %}
                {% if p == page %}
                    <li class="page-item active"><a href="{{ url_for('home_page', page=p) }}"
                                                    class="page-link">{{ p }}</a></li>
                {% else %}
                    <li class="page-item"><a href="{{ url_for('home_page', page=p) }}" class="page-link">{{ p }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            <!-- if current page is not the last page, show next page -->
            {% if page != total_pages and page+1 <= total_pages %}
                <li class="page-item"><a href="{{ url_for('home_page', page=page+1) }}" class="page-link">Next</a>
                </li>
            {% endif %}

            <! -- If there are more than 1 page and current page is not the last page, show last page -->
            {% if pages_left > 1 and page != total_pages %}
                <li class="page-item"><a href="{{ url_for('home_page', page=total_pages) }}"
                                         class="page-link">Last</a></li>
            {% endif %}
        </ul>

    </div>
{% endblock %}
