{% extends 'base.html' %}
{% block content %}
    <div class="container pt-3 pb-3 flex">
    <!-- Banner image -->
    <div class="banner text-center">
        <img src="{{ movie[4] }}" alt="{{ movie[0] }}" class="img-fluid">
    </div>
    </div>

    <div class="container-fluid">
        <h1>{{ movie[0] }}</h1>
        <p>Release Date: {{ movie[1] }}</p>
        <p>Synopsis: {{ movie[2] }}</p>
    <p>Director: <a href= {{ url_for('director_page', tmdb_id=director[1]) }}>{{ director[0] }}</a></p>
    </div>
        <!-- Genre -->
    <div class="container-fluid">
        <h2>Genre</h2>
        <ul>
            {% for genre in genres %}
                <li>{{ genre }}</li>
            {% endfor %}
        </ul>
    </div>

    <!-- Actors -->
    <div class="container-fluid">
        <h2>Actors</h2>

    <!-- Create table of name(actor[0]) and character(actor[2]) -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Character</th>
                </tr>
            </thead>
            <tbody>
                {% for actor in actors %}
                    <tr>
                        <td><a href= "{{ url_for('actor', tmdb_id=actor[1]) }}">{{ actor[0] }}</a></td>
                        <td>{{ actor[2] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Reviews -->
{#    {% if user.is_authenticated %}#}
        <div class="container-fluid">
            <form method="POST" action="/review">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Movie Review</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Rating</td>
                            <td>
                                <select name="rating">
                                    <option value="1">1 Star</option>
                                    <option value="2">2 Star</option>
                                    <option value="3">3 Star</option>
                                    <option value="4">4 Star</option>
                                    <option value="5">5 Star</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Review</td>
                            <td><textarea name="comment" rows="5" cols="50"></textarea></td>
                        </tr>
                        <tr>
                            <td><input type="hidden" name="movie_name" value="{{ movie[0] }}"></td>
                            <td><input type="submit" value="Submit"></td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
{#    {% endif %}#}

{% endblock %}
