{% extends 'base.html' %}
{% block content %}
    <div class="container pt-3 pb-3 flex">
    <!-- Banner image -->
    <div class="banner text-center">
        <img src="{{ movie[4] }}" alt="{{ movie[0] }}" class="img-fluid">
    </div>
    </div>

    <div class="container-fluid">
        <h1>{{ movie[0] }}</h1>
        <p>Release Date: {{ movie[1] }}</p>
        <p>Synopsis: {{ movie[2] }}</p>
    <p>Director: <a href= {{ url_for('routes.director_page', tmdb_id=director[1]) }}>{{ director[0] }}</a></p>
    </div>
        <!-- Genre -->
    <div class="container-fluid">
        <h2>Genre</h2>
        <ul>
            {% for genre in genres %}
                <li>{{ genre }}</li>
            {% endfor %}
        </ul>
    </div>

    <!-- Actors -->
    <div class="container-fluid">
        <h2>Actors</h2>

    <!-- Create table of name(actor[0]) and character(actor[2]) -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Character</th>
                </tr>
            </thead>
            <tbody>
                {% for actor in actors %}
                    <tr>
                        <td><a href= "{{ url_for('routes.actor', tmdb_id=actor[1]) }}">{{ actor[0] }}</a></td>
                        <td>{{ actor[2] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- View Reviews -->
    <div class="container-fluid">
        <h2>Reviews</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Rating</th>
                    <th>Comments</th>
                </tr>
            </thead>
            <tbody>
                {% for review in reviews %}
                    <tr>
                        <td>{{ review[0] }}</td>
                        <td>{{ review[1] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Submit Reviews -->
{#    {% if user.is_authenticated %}#}
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Submit Review</h5>
            </div>
            <div class="card-body">
                <form method="POST" action="/review">
                    <div class="mb-3">
                        <label for="rating" class="form-label">Rating</label>
                        <select name="rating" id="rating" class="form-select">
                            <option value="1">1 Star</option>
                            <option value="2">2 Star</option>
                            <option value="3">3 Star</option>
                            <option value="4">4 Star</option>
                            <option value="5">5 Star</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="comment" class="form-label">Review</label>
                        <textarea name="comment" id="comment" rows="5" class="form-control"></textarea>
                    </div>
                    <input type="hidden" name="movie_name" value="{{ movie[0] }}">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
{#    {% endif %}#}

{% endblock %}
