{% block movie %}
    <!-- Movie Listings from movie_list -->
    <!-- Each movie is a card That shows poster (movie[3], title (movie[0]), and year (movie[1]) -->
    <!-- Each row has 5 cards -->
    <div class="container-fluid pt-3">
        {% for chunk in movie_list|batch(4) %}
            <div class="row pt-3">
                {% for movie in chunk %}
                    <div class="col-md-3">
                        <div class="card">
                            <img class="card-img-top" src="{{ movie[4] }}" alt="{{ movie[0] }} Poster"
                                 style="width: 100%;">
                            <div class="card-body">
                                <h5 class="card-title"><a href="{{ url_for('routes.movie_page', movie_name=movie[0]) }}"
                                                          class="stretched-link"></a>{{ movie[0] }}</h5>
                                <!-- Synopsis in short (movie[2]) -->
                                <p class="card-text">{{ movie[2] }}</p>
                                <p class="card-text"><small class="text-muted">{{ movie[1] }}</small></p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

    <div class="container d-flex justify-content-center pt-1">
        <!-- Pages left nav -->
        <!-- Need to get current page from flask -->
    {% include 'Movie/pagination.html' %}
    </div>
{% endblock %}
