{% extends 'base.html' %}
{% block content %}
    <div class="jumbotron">
        <div class="container text-center">
            <h1>The Database Movies</h1>
        </div>
    </div>
    <div class="container">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ul class="carousel-indicators">
                {% for item in carousel %}
                    <li data-target="#myCarousel" data-slide-to="{{ loop.index0 }}"
                        {% if loop.first %}class="active"{% endif %}></li>
                {% endfor %}
            </ul>

            <!-- The slideshow -->
            <div class="carousel-inner">
                {% for item in carousel %}
                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                        <img src="{{ item[2] }}" alt="{{ item[0] }}" style="width:100%;">
                        <div class="carousel-caption">
                            <h3>{{ item[0] }}</h3>
                            <p>{{ item[1] }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>



    <!-- Movie Listings from movie_list -->
    <!-- Each movie is a card That shows poster (movie[3], title (movie[0]), and year (movie[1]) -->
    <!-- Each row has 5 cards -->
    <div class="container">
        {% for chunk in movie_list|batch(3) %}
            <div class="row">
                {% for movie in chunk %}
                    <div class="col-md-3">
                        <div class="card">
                            <img class="card-img-top" src="{{ movie[3] }}" alt="{{ movie[0] }} Poster"
                                 style="width: 100%;">
                            <div class="card-body">
                                <h5 class="card-title">{{ movie[0] }}</h5>
                                <p class="card-text"><small class="text-muted">{{ movie[1] }}</small></p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

    <div class="container">
        <!-- Pages left nav -->
        <!-- Need to get current page from flask -->
        <ul class="pagination">
            {% if pages > 1 %}
                <li class="page-item">Page {{ pages }} of {{ pages }}</li>
            {% endif %}
            {% if pages > 1 %}
                <li class="page-item">Previous</li>
            {% endif %}
        </ul>

    </div>
{% endblock %}
