{% extends 'base.html' %}
{% block content %}
    <div class="jumbotron">
        <div class="container text-center">
            <h1>The Database Movies</h1>
        </div>
    </div>
    <div class="container">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ul class="carousel-indicators">
                {% for item in carousel %}
                    <li data-target="#myCarousel" data-slide-to="{{ loop.index0 }}"
                        {% if loop.first %}class="active"{% endif %}></li>
                {% endfor %}
            </ul>

            <!-- The slideshow -->
            <div class="carousel-inner">
                {% for item in carousel %}
                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                        <img src="{{ item[2] }}" alt="{{ item[0] }}" style="width:100%;">
                        <div class="carousel-caption">
                            <h3>{{ item[0] }}</h3>
                            <p>{{ item[1] }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
    <!-- Movie Listings from movie_list -->
    <!-- Each movie is a card That shows poster (movie[3], title (movie[0]), and year (movie[1]) -->
    <!-- Each row has 5 cards -->
    <div class="container pt-3 flex">
        {% for chunk in movie_list|batch(3) %}
            <div class="row pt-3">
                {% for movie in chunk %}
                    <div class="col-md-4">
                        <div class="card">
                            <img class="card-img-top" src="{{ movie[3] }}" alt="{{ movie[0] }} Poster"
                                 style="width: 100%;">
                            <div class="card-body">
                                <h5 class="card-title"><a href="{{ url_for('movie_page', movie_name=movie[0]) }}">{{ movie[0] }}</a></h5>
                                <p class="card-text"><small class="text-muted"><a
                                                href="{{ url_for('movie_page', movie_name=movie[0]) }}">{{ movie[1] }}</a></small>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

    <div class="container d-flex justify-content-center pt-1">
        <!-- Pages left nav -->
        <!-- Need to get current page from flask -->
        <ul class="pagination">
            <!-- If there are more than 1 page, show first and previous -->
            {% if pages > 1 or page == pages %}
                <li class="page-item"><a href="{{ url_for('home_page', page=1) }}" class="page-link">First</a></li>
            {% endif %}
            <li class="page-item"><a href="{{ url_for('home_page', page=page-1) }}" class="page-link">Previous</a></li>
            <!-- Show only the +/- 3 pages from current page -->
            {% if page > 3 %}
                {% set start = page - 3 %}
            {% else %}
                {% set start = 1 %}
            {% endif %}
            {% if page + 3 < pages %}
                {% set end = page + 3 %}
            {% else %}
                {% set end = pages %}
            {% endif %}
            {% for p in range(start, end+1) %}
                {% if p == page %}
                    <li class="page-item active"><a href="{{ url_for('home_page', page=p) }}" class="page-link">{{ p }}</a></li>
                {% else %}
                    <li class="page-item"><a href="{{ url_for('home_page', page=p) }}" class="page-link">{{ p }}</a></li>
                {% endif %}
            {% endfor %}
            {#        <li class="page-item">Page {{ page }} of {{ pages }}</li>#}
            <!-- Next page -->
            {% if pages > 1 %}
                <li class="page-item"><a href="{{ url_for('home_page', page=page+1) }}" class="page-link">Next</a></li>
                <li class="page-item"><a href="{{ url_for('home_page', page=pages) }}" class="page-link">Last</a></li>
            {% endif %}

        </ul>

    </div>

{% endblock %}