{% extends 'base.html' %}

{% block content %}
    {% block Actor %}
        <style>
        .tmdb-icon {
          width: 100px;
          height: 50px;
          border-radius: 50%;
          background-color: #ffffff;
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
        }
        </style>
        <!-- Name Field -->
        <h1>{{ actor_name }}</h1>

        <!-- Profile Picture -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                    <div class="container-fluid">
                        <img src="{{ actor_profile_path }}" alt="{{ actor_name }}" class="img-fluid rounded pb-1">
                    </div>
                    <div class="accordion pt-1" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="true"
                                        aria-controls="collapseOne">
                                    Also Known As
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show"
                                 aria-labelledby="headingOne"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    {% for aka in actor_aka %}
                                        <p>{{ aka }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="KnownFor">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseKnownFor" aria-expanded="false"
                                        aria-controls="collapseKnownFor">
                                    Known For
                                </button>
                            </h2>
                            <div id="collapseKnownFor" class="accordion-collapse collapse show"
                                 aria-labelledby="KnownFor"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>Acting</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="false"
                                        aria-controls="collapseTwo">
                                    Birthday
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse show"
                                 aria-labelledby="headingTwo"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>{{ actor_birthday }}</p>
                                </div>
                            </div>
                        </div>

                        {% if actor_deathday != None %}
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingFour">
                                    <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#collapseFour" aria-expanded="false"
                                            aria-controls="collapseFour">
                                        Deathday
                                    </button>
                                </h2>
                                <div id="collapseFour" class="accordion-collapse collapse show"
                                     aria-labelledby="headingFour"
                                     data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>{{ actor_deathday }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>

                <div class="container-fluid pt-2">
                    <h3>View on</h3>
                    <!-- TMDB Page Link below picture -->
                    <a href="{{ actor_tmdb_page }}" target="_blank" rel="noopener noreferrer">
                        <img src="{{ url_for('static', filename='images/TMDB_Short.png') }}" alt="TMDB" class="img-fluid rounded tmdb-icon" />
                    </a>
                </div>
                </div>

                <div class="col-md-10">
                    <div class="accordion" id="accordionExample2">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree" aria-expanded="true"
                                        aria-controls="collapseThree">
                                    Biography
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse show"
                                 aria-labelledby="headingThree"
                                 data-bs-parent="#accordionExample2">
                                <div class="accordion-body">
                                    <p>{{ actor_bio }}</p>
                                </div>
                            </div>
                        </div>

                        <!-- Movies -->
                        <div class="container-fluid mt-3">
                            <!-- Movies with movie[0] as name, movie[1] as date of release and movie[2] as actor's character -->
                            <!-- Each row should start with year, title "as" character -->
                            <div class="row">
                                <h3>Movies</h3>
                                <table class="table table-striped">
                                    <tbody>
                                    {% for movie in movie_list %}
                                        <tr>

                                            <td>
                                                {{ movie[1] }}
                                            </td>

                                            <td>
                                                <a href="{{ url_for('routes.movie_page', movie_name=movie[0]) }}">{{ movie[0] }}</a>
                                                as {{ movie[2] }}
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    {% endblock %}
{% endblock %}
