{% extends 'base.html' %}

{% block content %}
    {% if current_user.is_authenticated %}
        <div class="container-fluid">
            <!-- Success Popup Modal -->
            <div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="successModalLabel">Success!</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Success.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Left Panel - Movie Management Functions -->
                <div class="col-lg-2">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Movie Management</h5>
                        </div>
                        <div class="card-body">
                            <!-- Add Movie Form -->
                            <form method="POST" action="/addMovie">
                                <div class="mb-3">
                                    <label class="form-label">Movie Title</label>
                                    <input type="text" class="form-control" name="movie_name">
                                    <label class="form-label">TMDB ID</label>
                                    <input type="text" class="form-control" name="tmdb_id">
                                </div>
                                <!-- Other movie fields -->
                                <!-- ... -->
                                <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#successModal">Add Movie</button>
                            </form>
                            <!-- Other movie management functions -->
                            <!-- ... -->
                        </div>
                    </div>
                </div>

                <!-- Middle Panel - Display Information -->
                <div class="col-lg-5">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Movie Information</h5>
                        </div>
                        <div class="card-body">
                            <!-- Search Panel -->
                            <div class="mb-3">
                                <form class="d-flex" method="POST" action="/searchMovie">
                                    <input type="text" class="form-control" name="search" placeholder="Search Movie">
                                    <button class="btn btn-primary" type="submit">Search</button>
                                </form>
                                <!-- Movie Table -->
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Release Date</th>
                                        <th>Synopsis</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for movie in movies %}
                                        <tr>
                                            <td><a href="{{ url_for('routes.movie_page', movie_name=movie[1]) }}">{{ movie[1] }}</a></td>
                                            <td>{{ movie[2] }}</td>
                                            <td>{{ movie[3] }}</td>
                                            <td>
                                                <div class="btn-group">
                                                    <a href="{{ url_for('routes.editMovie', movie_id=movie[0]) }}" class="btn btn-success">Edit</a>
{#                                                    <a href="{{ url_for('routes.deleteMovie', movie_id=movie[0]) }}" class="btn btn-danger">Delete</a>#}

                                                    <!-- POST request to routes.deleteMovie -->
                                                    <form method="POST" action="{{ url_for('routes.deleteMovie') }}">
                                                        <input type="hidden" name="movie_id" value="{{ movie[0] }}">
                                                        <button type="submit" class="btn btn-danger">Delete Movie</button>
                                                    </form>

                                                    <!-- POST request to routes.update_movie_info -->
                                                    <form method="POST" action="{{ url_for('routes.update_movie_info') }}">
                                                        <input type="hidden" name="title" value="{{ movie[1] }}">
                                                        <button type="submit" class="btn btn-warning">Update Info</button>
                                                    </form>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- Display movie information -->
                            <!-- ... -->
                        </div>
                    </div>
                </div>

                <!-- Right Panel - Review Management and Other Card -->
                <div class="col-lg-5 d-flex">
                    <div class="row d-flex">
                        <!-- First Card -->
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-title">Review Management</h5>
                                </div>
                                <div class="card-body">
                                    <!-- Display review management functions -->
                                    <!-- ... -->
                                    <form class="d-flex" method="POST" action="/searchPosts">
                                        <input type="text" class="form-control" name="search" placeholder="Enter Subject">
                                        <button class="btn btn-primary" type="submit">Search</button>
                                    </form>
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Author</th>
                                            <th>Subject</th>
                                            <th>Comment</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for post in posts %}
                                            <tr>
                                                <td>{{ post['userid'] }}</td>
                                                <td>{{ post['subject'] }}</td>
                                                <td>{{ post['comment'] }}</td>
                                                <td>
                                                    <!-- Action buttons here -->
                                                    <a href="{{ url_for('routes.deletePost', postID=post['_id']) }}" class="btn btn-danger">Delete</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- View Movie Requests -->
                        <div class="col-md-12 mt-4">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-title">Movie Requests</h5>
                                </div>
                                <div class="card-body">
                                    <!-- Content for the second card -->
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Author</th>
                                            <th>Movie Title</th>
                                            <th>Message</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for request in requests %}
                                            <tr>
                                                <td>{{ request['userID'] }}</td>
                                                <td>{{ request['movieTitle'] }}</td>
                                                <td>{{ request['message'] }}</td>
                                                <td>
                                                    <!-- Action buttons here -->
                                                    <a href="{{ url_for('routes.deleteRequest', requestID=request['_id']) }}" class="btn btn-danger">Delete</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
