{% extends 'base.html' %}

{% block content %}
    {% if current_user.is_authenticated %}
    <div class="container-fluid">
        <div class="accordion" id="forumAccordion">
            <div class="accordion-item">
                <h2 class="accordion-header" id="forumHeading">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#forumCollapse">
                        Create a new post
                    </button>
                </h2>
                <div id="forumCollapse" class="accordion-collapse collapse" aria-labelledby="forumHeading" data-bs-parent="#forumAccordion">
                    <div class="accordion-body">
                        <div class="container-fluid">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-title">Enter Details</h5>
                                </div>
                                <div class="card-body">
                                    <form method="POST" action="/post">
                                        <div class="mb-3">
                                            <label for="forum" class="form-label">Subject</label>
                                            <input type="text" name="subject" id="subject" class="form-control">
                                        </div>
                                        <div class="mb-3">
                                            <label for="comment" class="form-label">Comment</label>
                                            <textarea name="comment" id="comment" rows="5" class="form-control"></textarea>
                                        </div>
                                        <input type="hidden" name="userid" value="{{ current_user.id }}">
                                        <button type="submit" class="btn btn-primary">Post</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="container-fluid">
        <div class="accordion" id="forumviewAccordion">
            <div class="accordion-item">
                <h2 class="accordion-header" id="forumviewHeading">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#forumviewCollapse">
                        View Posts
                    </button>
                </h2>
                <div id="forumviewCollapse" class="accordion-collapse collapse" aria-labelledby="forumviewHeading" data-bs-parent="#forumviewAccordion">
                    <div class="accordion-body">
                        <!-- Loop through every post of another user the current user is following -->
                        {% for post in posts %}
{#                            {% print(post) %}#}
                        <div class="container-fluid">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-title">Post by: GRAB USER NAME</h5>
                                </div>
                                <div class="card-body">
                                    <div class="mb-3">
                                        <label for="forum" class="form-label">Subject</label>
                                        <!-- display subject of post -->
                                        <input type="text" name="subject" id="subject" class="form-control" value="{{ post['subject'] }}" disabled>
                                    </div>
                                    <div class="mb-3">
                                        <label for="comment" class="form-label">Comment</label>
                                        <!-- display comment of post -->
                                        <textarea name="comment" id="comment" rows="5" class="form-control" value="{{ post['comment'] }}" disabled>{{ post['comment'] }}</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <!-- END FOR LOOP -->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
