{% extends 'base.html' %} {% block content %} {#display search results#}
<div class="container-fluid">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>{{ choice }} results</th>
      </tr>
    </thead>
    <tbody>
      {% for result in results %}
      <tr>
        {% if choice == 'movie' %}
        <td><a href="/{{ choice }}/{{ result[1] }}">{{ result[1] }}</a></td>
        {% elif choice == 'director' %}
        <td><a href="/{{ choice }}/{{ result[2] }}">{{ result[1] }}</a></td>
        {% elif choice == 'actor' %}
        <td><a href="/{{ choice }}/{{ result[2] }}">{{ result[1] }}</a></td>
      </tr>
      {% endif %} {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
