{% extends 'base.html' %} {% block content %}
<div class="container-fluid">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Movies</th>
      </tr>
    </thead>
    <tbody>
      {% for movie in movies %}
      <tr>
        <td><a href="/movie/{{ movie[1] }}">{{ movie[1] }}</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="container-fluid">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Directors</th>
      </tr>
    </thead>
    <tbody>
      {% for director in directors %}
      <tr>
        <td><a href="/director/{{ director[2] }}">{{ director[1] }}</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="container-fluid">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Actors</th>
      </tr>
    </thead>
    <tbody>
      {% for actor in actors %}
      <tr>
        <td><a href="/actor/{{ actor[2] }}">{{ actor[1] }}</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="container-fluid">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Profiles</th>
      </tr>
    </thead>
    <tbody>
      {% for profile in profiles %}
      <tr>
        <td><a href="/profile/{{ profile[0] }}">{{ profile[3] }}</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
