{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="accordion" id="moviesAccordion">
            <div class="accordion-item">
                <h2 class="accordion-header" id="moviesHeading">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#moviesCollapse">
                        Movies
                    </button>
                </h2>
                <div id="moviesCollapse" class="accordion-collapse collapse show" aria-labelledby="moviesHeading" data-bs-parent="#moviesAccordion">
                    <div class="accordion-body">
                        <table class="table table-striped">
                            <tbody>
                                <!-- Movie Table -->
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Release Date</th>
                                        <th>Synopsis</th>
                                        {% if current_user.username == 'admin' %}
                                        <th>Action</th>
                                        {% endif %}
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for movie in movies %}
{#                                        {% print(movie) %}#}
                                        <tr>
                                            <td><a href="{{ url_for('routes.movie_page', movie_name=movie[1]) }}">{{ movie[1] }}</a></td>
                                            <td>{{ movie[2] }}</td>
                                            <td>{{ movie[3] }}</td>
                                            {% if current_user.username == 'admin' %}
                                            <td>
                                                {#                                                <a href="<?= base_url('emails/edit/'.$emails_item['id']) ?>" class="btn btn-success btn-sm">Edit</a>#}
                                                <div class="btn-group">
                                                    {#                                                    <a href="{{ url_for('') }}" class="btn btn-success" >Edit</a>#}
                                                    <a href="{{ url_for('routes.deleteMovie', movie_name=movie[1]) }}" class="btn btn-danger">Delete</a>
                                                </div>
                                            </td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="accordion" id="directorsAccordion">
            <div class="accordion-item">
                <h2 class="accordion-header" id="directorsHeading">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#directorsCollapse">
                        Directors
                    </button>
                </h2>
                <div id="directorsCollapse" class="accordion-collapse collapse" aria-labelledby="directorsHeading" data-bs-parent="#directorsAccordion">
                    <div class="accordion-body">
                        <table class="table table-striped">
                            <tbody>
                            {% for director in directors %}
                                <tr>
                                    <td><a href="{{ url_for('routes.director_page', tmdb_id=director[2]) }}">{{ director[1] }}</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="accordion" id="actorsAccordion">
            <div class="accordion-item">
                <h2 class="accordion-header" id="actorsHeading">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#actorsCollapse">
                        Actors
                    </button>
                </h2>
                <div id="actorsCollapse" class="accordion-collapse collapse" aria-labelledby="actorsHeading" data-bs-parent="#actorsAccordion">
                    <div class="accordion-body">
                        <table class="table table-striped">
                            <tbody>
                            {% for actor in actors %}
                                <tr>
                                    <td><a href="{{ url_for('routes.actor', tmdb_id=actor[2]) }}">{{ actor[1] }}</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="accordion" id="profilesAccordion">
            <div class="accordion-item">
                <h2 class="accordion-header" id="profilesHeading">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#profilesCollapse">
                        Profiles
                    </button>
                </h2>
                <div id="profilesCollapse" class="accordion-collapse collapse" aria-labelledby="profilesHeading" data-bs-parent="#profilesAccordion">
                    <div class="accordion-body">
                        <table class="table table-striped">
                            <tbody>
                            {% for profile in profiles %}
                                <tr>
                                    <td><a href="/profile/{{ profile[0] }}">{{ profile[3] }}</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
